@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body
{
    height: 100%; 
    width:100%; 
    font-family: 'Montserrat', sans-serif;
}
.button 
{
    padding: 20px; 
    margin: 0 3px;
    border: 2px solid orange; 
    border-radius: 15px; 
    cursor: pointer; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
}
.flex-container 
{
    display: flex; 
    flex-direction: column;
} 
.button-center 
{
    align-items: center;
}
.row
{
    margin: 8px;
}
.row input
{
    margin: 0; 
    padding: 10px 40px; 
    border: 2px solid orange; 
    border-radius: 9px; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem; 
}
